In [1]:
import pandas as pd
import numpy as np

In [2]:
artistas = pd.read_csv('Datos Pares/Artistas.csv')
eventos = pd.read_csv('Datos Pares/Evento.csv')
productoras = pd.read_csv('Datos Pares/Productoras.csv')
recintos = pd.read_csv('Datos Pares/Recinto.csv')
entradas = pd.read_csv('Datos Pares/Entradas.csv')

In [3]:
artistas.rename(columns = {'Nombre artistico':'nombre_artistico', 'Nº contacto':'contacto_artista'}, inplace = True)
entradas.rename(columns = {'Evento':'nombre_evento', 'numero asiento':'numero_asiento'}, inplace = True)
recintos.rename(columns = {'Nombre':'nombre_recinto', 'Ciudad':'ciudad', 'Pais':'pais', 'Capacidad':'capacidad'}, inplace = True)
productoras.rename(columns = {'Nombre':'nombre_productora', 'País':'pais', 'Inicio actividades':'inicio_actividades', 'Nº contacto':'contacto_productora'}, inplace = True)
eventos.rename(columns = {'Nombre':'nombre_evento', 'Recinto':'recinto', 'Fecha de incio':'fecha_inicio', 'Fecha de termino':'fecha_termino', 'Artista':'artista', 'Productora':'productora'}, inplace = True)

In [4]:
artistas.drop_duplicates(inplace=True, ignore_index=True)
eventos.drop_duplicates(inplace=True, ignore_index=True)
productoras.drop_duplicates(inplace=True, ignore_index=True)
recintos.drop_duplicates(inplace=True, ignore_index=True)
entradas.drop_duplicates(inplace=True, ignore_index=True)

In [5]:
productoras.drop_duplicates(subset=['nombre_productora'], inplace=True, ignore_index=True)
recintos.drop_duplicates(subset=['nombre_recinto'], inplace=True, ignore_index=True)

In [6]:
artistas['nombre_artistico'] = artistas['nombre_artistico'].str.strip()

eventos['nombre_evento'] = eventos['nombre_evento'].str.strip()
eventos['recinto'] = eventos['recinto'].str.strip()
eventos['artista'] = eventos['artista'].str.strip()
eventos['productora'] = eventos['productora'].str.strip()

productoras['nombre_productora'] = productoras['nombre_productora'].str.strip()
productoras['pais'] = productoras['pais'].str.strip()

recintos['nombre_recinto'] = recintos['nombre_recinto'].str.strip()
recintos['ciudad'] = recintos['ciudad'].str.strip()
recintos['pais'] = recintos['pais'].str.strip()

entradas['nombre_evento'] = entradas['nombre_evento'].str.strip()
entradas['categoria'] = entradas['categoria'].str.strip()
entradas['numero_asiento'] = entradas['numero_asiento'].str.strip()

In [7]:
eventos.index.name = 'id_evento'
artistas.index.name = 'id_artista'
productoras.index.name = 'id_productora'
recintos.index.name = 'id_recinto'
entradas.index.name = 'id_entrada'

In [8]:
artistas

           nombre_artistico  contacto_artista
id_artista
0             Mercedes Sosa         963954428
1              Daddy Yankee         940529645
2                 Bad Bunny         947280374
3                  Rita Ora         961369648
4              James Arthur         934632766
...                     ...               ...
195                    Zedd         942303963
196               Radiohead         924174144
197              Marshmello         981287193
198             Major Lazer         932346486
199                DJ Snake         998552223

[200 rows x 2 columns]

In [9]:
eventos

,nombre_evento,recinto,fecha_inicio,fecha_termino,artista,productora
id_evento,,,,,,
0,Rio Concert,Vivo Rio,26/02/2016,29/02/2016,Francisca Valenzuela,Agencia 360
1,Mil Rosas,Mercedes-Benz Arena,29/11/2022,29/11/2022,La Oreja de Van Gogh,Eventveranstalter Hamburg
2,Bachata en vivo,Irving Plaza,11/05/2020,11/05/2020,Prince Royce,The Imagos
3,Como si no importara,Arena Ludwingsburg,23/01/2021,23/01/2021,Emilia,fullevent.de
4,Epic Show,Freiheitshalle,04/03/2022,04/03/2022,The Martinez Brothers,B+D Events
...,...,...,...,...,...,...
228,Gowlding,Sala Apolo,07/03/2019,07/03/2019,Ellie Gowlding,Live Nation
229,Rio Concert,Vivo Rio,26/02/2016,29/02/2016,Maria Becerra,Agencia 360
230,Michael Jackson Tribute,Cupula Multiespacio,13/11/2017,15/11/2017,Michael Jackson,Time for fun (t4f)
231,The Misery,Spark Arena,27/10/2020,27/10/2020,Imagine Dragons,Queenstown Event Company
232,El J23,Canadian Tire Centre,10/07/2020,10/07/2020,Jordan 23,Mayam Producciones

In [10]:
productoras

,nombre_productora,pais,inicio_actividades,contacto_productora
id_productora,,,,
0,LetsGo Company,ESPAÑA,30/04/2006,34975957941
1,Live Nation,ESTADOS UNIDOS,08/09/1998,154154674
2,Janos Eventos,ARGENTINA,11/12/1983,54950400756
3,fullevent.de,ALEMANIA,08/06/2005,4996934169
4,B+D Events,ALEMANIA,03/06/1992,4980743450
...,...,...,...,...
224,Andeschimp spa,CHILE,23/12/1992,56966594257
225,ESTADIUM LUNA PARK,ARGENTINA,05/09/1996,54935383652
226,Latitud music spa,CHILE,08/07/1988,56985573340
227,Comercial audio tec limitada,CHILE,13/12/1985,56950832829
228,COMPAÑÍA ARGENTINA DE SUEÑOS,ARGENTINA,25/08/1994,54950205631

In [11]:
recintos

,nombre_recinto,ciudad,pais,capacidad
id_recinto,,,,
0,Powerstation 33,AUCKLAND,NUEVA ZELANDA,5773
1,Euskalduna Bilbao,BILBAO,ESPAÑA,13422
2,Estadio Bicentario de La Florida,SANTIAGO,CHILE,8796
3,Antel Arena,BUENOS AIRES,ARGENTINA,11726
4,Teatro Municipal de Santiago,SANTIAGO,CHILE,14137
...,...,...,...,...
141,Chango Club,MADRID,ESPAÑA,5661
142,Phoenix Concert Theatre,TORONTO,CANADA,9036
143,Radio City Music Hall,NUEVA YORK,ESTADOS UNIDOS,8284
144,Unidad Residencial la Macarena,MEDELLIN,COLOMBIA,11742
145,Palais 12,BRUSELAS,BELGICA,13882

In [19]:
entradas

,nombre_evento,categoria,precio,numero_asiento,tipo
id_entrada,,,,,
0,Sub Focus,CANCHA,103500,I47,COMPLETAS
1,Bangerz,CANCHA VIP,100000,P32,NaN
2,LOS APARATOS,GALERIA,45000,T43,NaN
3,AgendaMusic,PLATEA ALTA,75500,K46,PASES DIARIOS
4,Telepatia,CANCHA,90000,L31,NaN
...,...,...,...,...,...
200,The E.N.D World,CANCHA,90000,S41,NaN
201,The Misery,GALERIA,45000,B1,NaN
202,Tomorrow Never Knows,CANCHA VIP,100000,P32,NaN
203,Me Veras Volver,CANCHA VIP,100000,P32,NaN
204,La Gasolina,CANCHA,95500,P22,PASES DIARIOS

In [13]:
entradas["precio"] = entradas["precio"].str.replace(",","")

In [14]:
entradas["precio"] = entradas["precio"].str.replace(".","")

C:\Users\beagg\AppData\Local\Temp\ipykernel_15856\3927822500.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  entradas["precio"] = entradas["precio"].str.replace(".","")

In [15]:
eventos["fecha_inicio"] = eventos["fecha_inicio"].str.replace("-","/")
eventos["fecha_termino"] = eventos["fecha_termino"].str.replace("-","/")
productoras["inicio_actividades"] = productoras["inicio_actividades"].str.replace("-","/")

In [16]:
eventos.fecha_inicio = eventos.fecha_inicio.replace({'30/2/':'28/02/'}, regex=True)
eventos.fecha_inicio = eventos.fecha_inicio.replace({'30/02/':'28/02/'}, regex=True)

eventos.fecha_inicio = eventos.fecha_inicio.replace({'31/04/':'30/04/'}, regex=True)
eventos.fecha_inicio = eventos.fecha_inicio.replace({'31/4/':'30/04/'}, regex=True)

eventos.fecha_termino = eventos.fecha_termino.replace({'30/02/':'28/02/'}, regex=True)
eventos.fecha_termino = eventos.fecha_termino.replace({'30/2/':'28/02/'}, regex=True)

eventos.fecha_termino = eventos.fecha_termino.replace({'31/04/':'30/04/'}, regex=True)
eventos.fecha_termino = eventos.fecha_termino.replace({'31/4/':'30/04/'}, regex=True)

productoras.inicio_actividades = productoras.inicio_actividades.replace({'30/2/':'28/02/'}, regex=True)
productoras.inicio_actividades = productoras.inicio_actividades.replace({'30/02/':'28/02/'}, regex=True)
productoras.inicio_actividades = productoras.inicio_actividades.replace({'31/04/':'30/04/'}, regex=True)
productoras.productoras = productoras.inicio_actividades.replace({'31/4/':'30/04/'}, regex=True)

C:\Users\beagg\AppData\Local\Temp\ipykernel_15856\2337790061.py:16: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  productoras.productoras = productoras.inicio_actividades.replace({'31/4/':'30/04/'}, regex=True)

In [17]:
eventos['fecha_inicio'] =pd.to_datetime(eventos.fecha_inicio)
eventos['fecha_termino'] =pd.to_datetime(eventos.fecha_termino)
productoras['inicio_actividades'] =pd.to_datetime(productoras.inicio_actividades)

C:\Users\beagg\AppData\Local\Temp\ipykernel_15856\713017843.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  eventos['fecha_inicio'] =pd.to_datetime(eventos.fecha_inicio)
C:\Users\beagg\AppData\Local\Temp\ipykernel_15856\713017843.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  eventos['fecha_termino'] =pd.to_datetime(eventos.fecha_termino)
C:\Users\beagg\AppData\Local\Temp\ipykernel_15856\713017843.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  productoras['inicio_actividades'] =pd.to_datetime(productoras.inicio_actividades)

In [18]:
productoras

,nombre_productora,pais,inicio_actividades,contacto_productora
id_productora,,,,
0,LetsGo Company,ESPAÑA,2006-04-30,34975957941
1,Live Nation,ESTADOS UNIDOS,1998-08-09,154154674
2,Janos Eventos,ARGENTINA,1983-11-12,54950400756
3,fullevent.de,ALEMANIA,2005-08-06,4996934169
4,B+D Events,ALEMANIA,1992-03-06,4980743450
...,...,...,...,...
224,Andeschimp spa,CHILE,1992-12-23,56966594257
225,ESTADIUM LUNA PARK,ARGENTINA,1996-05-09,54935383652
226,Latitud music spa,CHILE,1988-08-07,56985573340
227,Comercial audio tec limitada,CHILE,1985-12-13,56950832829
228,COMPAÑÍA ARGENTINA DE SUEÑOS,ARGENTINA,1994-08-25,54950205631

In [19]:
# productoras = productoras.replace('ñ','n', regex=True)
# productoras = productoras.replace('Ñ','N', regex=True)

In [20]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(entradas)

                          nombre_evento        categoria   precio  \
id_entrada
0                             Sub Focus           CANCHA   103500
1                               Bangerz       CANCHA VIP   100000
2                          LOS APARATOS          GALERIA    45000
3                           AgendaMusic      PLATEA ALTA    75500
4                             Telepatia           CANCHA    90000
5                   El Ultimo Concierto          GALERIA    57500
6                               Mystere            ANDES    65000
7                   Say you wont let go            ANDES    58500
8                          Phoenix Show  SILLA DE RUEDAS    30000
9                               CLARITY       CANCHA VIP   100000
10                                Lotto          GALERIA    45000
11                             Big Time          GALERIA    45000
12                    Twelve Carat Tour       CANCHA VIP   100000
13                  One Vision of Queen  SILLA DE RUEDAS    40000
14                              MMM Bop      PLATEA BAJA    90000
15                              RUNAWAY            ANDES    65000
16                               El J23       CANCHA VIP   100000
17                           MJ Tribute      PLATEA ALTA    70000
18                              Mystere           CANCHA    90000
19                     Treat you better            ANDES    58500
20                            Mami Tour           CANCHA    90000
21                         Step by Step       CANCHA VIP   100000
22                              Le Reve       CANCHA VIP   110000
23                      The Joshua Tree      PLATEA BAJA    90000
24                           FULL PIOLI          GALERIA    45000
25                  El Ultimo Concierto           CANCHA    95500
26                          Tren al Sur      PLATEA BAJA    90000
27                                Lotto       CANCHA VIP   100000
28                  El Ultimo Concierto           CANCHA    95500
29                        Born this way          GALERIA    45000
30                  Talking to the moon      PLATEA ALTA    70000
31                            Best Part           CANCHA    90000
32                               KAWAII          GALERIA    45000
33                             Big Time      PLATEA ALTA    70000
34                          Rio Concert      PLATEA BAJA    95500
35                          Cerca de ti      PLATEA BAJA    90000
36                          Cerca de ti      PLATEA ALTA    70000
37            Perfect All Experimenters            ANDES    58500
38                  The Real Slim Shady      PLATEA BAJA   103500
39                             SongKick  SILLA DE RUEDAS    30000
40                              Quedate       CANCHA VIP   100000
41                            Sub Focus           CANCHA   103500
42                          Younger now      PLATEA BAJA    90000
43                         Desesperados           CANCHA    90000
44                           Ultra Solo       CANCHA VIP   100000
45                           MJ Tribute           CANCHA    90000
46                       Schulz Forever          GALERIA    45000
47                      Super Bass Tour      PLATEA ALTA    70000
48            Perfect All Experimenters      PLATEA ALTA    70000
49                     How do you sleep      PLATEA ALTA    70000
50                          Rio Concert      PLATEA ALTA    70000
51                               Oh How            ANDES    58500
52                   Big E Party Moment           CANCHA    90000
53                        Maria Becerra          GALERIA    45000
54                         Sueño Stereo      PLATEA BAJA    90000
55              Michael Jackson Tribute      PLATEA ALTA    75500
56                  El Ultimo Concierto           CANCHA    90000
57                              Le Reve      PLATEA BAJA   103500
58                          La Gasolina       CANCHA VIP   105000
59                      The E.N.D World       CANCHA VIP   100000
60                         Shape of you          GALERIA    45000
61                            Anastasia          GALERIA    45000
62                 DJs Apoyando a Chile       CANCHA VIP   110000
63                           Reputation      PLATEA BAJA   103500
64                           FULL PIOLI      PLATEA ALTA    70000
65                            Telepatia  SILLA DE RUEDAS    30000
66                           The Misery      PLATEA ALTA    70000
67                       Disney Concert      PLATEA BAJA    90000
68                            Fine Line  SILLA DE RUEDAS    30000
69                           La leyenda       CANCHA VIP   100000
70                      Me Veras Volver       CANCHA VIP   100000
71                   Lively And Supreme       CANCHA VIP   100000
72                      Map of the Soul      PLATEA ALTA    70000
73                              Mystere       CANCHA VIP   100000
74                       Fourplan Event       CANCHA VIP   100000
75                             Big Time      PLATEA BAJA    90000
76                         Papi Juancho          GALERIA    45000
77                      R3hab live show           CANCHA    90000
78                        Hips dont lie  SILLA DE RUEDAS    30000
79                         Kill my mind  SILLA DE RUEDAS    30000
80                          Cerca de ti           CANCHA    90000
81                              Le Reve      PLATEA BAJA    95500
82                              CLARITY           CANCHA    90000
83                              Le Reve            ANDES    65000
84                  El Ultimo Concierto       CANCHA VIP   100000
85                 Caminemos de la Mano           CANCHA    90000
86                            Fine Line      PLATEA ALTA    80500
87                            Sub Focus      PLATEA ALTA    75500
88                   Heartbreak Weather            ANDES    58500
89                              Le Reve      PLATEA BAJA    90000
90                      Salimo de Noche       CANCHA VIP   100000
91                           MJ Tribute      PLATEA ALTA    80500
92                       Schulz Forever       CANCHA VIP   100000
93                      Bachata en vivo            ANDES    58500
94                         Kill my mind          GALERIA    45000
95                     La Ultima Vuelta           CANCHA    95500
96                               Golden      PLATEA ALTA    75500
97                           La leyenda           CANCHA    90000
98                                  TJB           CANCHA    90000
99                                 Tusa          GALERIA    45000
100                           BZRP Tour          GALERIA    50700
101                         Show Forest           CANCHA    95500
102                Drivers License Tour      PLATEA ALTA    70000
103                 One Vision of Queen  SILLA DE RUEDAS    40000
104                            SongKick  SILLA DE RUEDAS    30000
105                             Le Reve          GALERIA    50700
106                           BZRP Tour       CANCHA VIP   100000
107                      One Night Only          GALERIA    45000
108                         Younger now       CANCHA VIP   100000
109                          Convencete           CANCHA    90000
110                 One Vision of Queen          GALERIA    57500
111                              Oh How      PLATEA ALTA    70000
112                 Say you wont let go      PLATEA ALTA    70000
113                   Beyond Wonderland       CANCHA VIP   100000
114                     The After Hours          GALERIA    45000
115                    Belinda Comeback       CANCHA VIP   100000
116                        Phoenix Show          GALERIA    45000
117                        Papi Juancho  SILLA DE RUEDAS    30000
118                             CLARITY  SILLA DE RUEDAS    35500
119                    La Ultima Mision           CANCHA    90000
120                             Mystere            ANDES    58500
121                           BZRP Tour       CANCHA VIP   105000
122                                 TJB            ANDES    58500
123             Michael Jackson Tribute           CANCHA    90000
124                           BZRP Tour            ANDES    65000
125                     Salimo de Noche      PLATEA ALTA    70000
126                             CLARITY       CANCHA VIP   105000
127                           PlanAhead            ANDES    58500
128                             Que oso          GALERIA    45000
129             Michael Jackson Tribute           CANCHA    95500
130            El amor despues del amor      PLATEA ALTA    80500
131            El amor despues del amor       CANCHA VIP   100000
132                      Disney Concert      PLATEA ALTA    80500
133                       The Encounter      PLATEA ALTA    70000
134                           Anastasia           CANCHA    90000
135           Perfect All Experimenters       CANCHA VIP   100000
136                                 WAP      PLATEA BAJA    90000
137                              El J23          GALERIA    45000
138                              Frozen      PLATEA BAJA    90000
139                    La Ultima Vuelta       CANCHA VIP   105000
140                         Rio Concert           CANCHA    90000
141                 The Real Slim Shady      PLATEA BAJA    95500
142                         Show Forest           CANCHA   103500
143                      Bigger than me      PLATEA ALTA    70000
144                            Big Time      PLATEA BAJA    90000
145                             Le Reve       CANCHA VIP   100000
146                          Convencete          GALERIA    45000
147                      Fourplan Event      PLATEA BAJA   103500
148                        Desesperados            ANDES    58500
149                         AgendaMusic           CANCHA    90000
150                      Disney Concert           CANCHA   103500
151                   Super Freaky Girl            ANDES    58500
152                 The Real Slim Shady      PLATEA ALTA    70000
153                         Rio Concert           CANCHA    90000
154                             Le Reve            ANDES    68000
155                            Gowlding      PLATEA ALTA    70000
156                              Voyage          GALERIA    45000
157                DJs Apoyando a Chile            ANDES    65000
158                         La Criminal           CANCHA    90000
159                             Mystere            ANDES    65000
160                         La Gasolina           CANCHA    95500
161                   Super Freaky Girl      PLATEA BAJA    90000
162                       Hips dont lie           CANCHA    90000
163                       Seize The Day           CANCHA    90000
164                         Rio Concert           CANCHA   103500
165                       Hips dont lie      PLATEA ALTA    70000
166                      Fourplan Event            ANDES    58500
167                     The After Hours      PLATEA ALTA    70000
168                              El J23      PLATEA ALTA    70000
169                         Cerca de ti      PLATEA ALTA    70000
170                         AgendaMusic       CANCHA VIP   105000
171                        Sueño Stereo      PLATEA ALTA    70000
172                          Real Scene           CANCHA    90000
173                          Fruta y te            ANDES    58500
174                             El Duko            ANDES    58500
175                 The Real Slim Shady      PLATEA BAJA   103500
176                DJs Apoyando a Chile       CANCHA VIP   100000
177                    La Ultima Vuelta          GALERIA    57500
178                   Beyond Wonderland           CANCHA    90000
179                      Fourplan Event       CANCHA VIP   110000
180                    La Ultima Mision      PLATEA ALTA    70000
181                             Heather           CANCHA    90000
182                             S.U.N.O          GALERIA    45000
183                         Rio Concert      PLATEA ALTA    70000
184                              Golden  SILLA DE RUEDAS    40000
185                        Shape of you      PLATEA ALTA    70000
186                         Beto Cuevas          GALERIA    45000
187                           Sub Focus       CANCHA VIP   110000
188                          The Misery      PLATEA ALTA    70000
189                           EQILIBRIO       CANCHA VIP   100000
190                DJs Apoyando a Chile           CANCHA    90000
191                              El J23           CANCHA    90000
192                      Disney Concert  SILLA DE RUEDAS    30000
193                            Five Day       CANCHA VIP   100000
194                          Roads Time            ANDES    58500
195                            Gowlding          GALERIA    45000
196                              Voyage          GALERIA    50700
197                          La leyenda          GALERIA    45000
198                       Sin Despertar       CANCHA VIP   100000
199         I Used to Think I could Fly            ANDES    58500
200                     The E.N.D World           CANCHA    90000
201                          The Misery          GALERIA    45000
202                Tomorrow Never Knows       CANCHA VIP   100000
203                     Me Veras Volver       CANCHA VIP   100000
204                         La Gasolina           CANCHA    95500

           numero_asiento           tipo
id_entrada
0                     I47      COMPLETAS
1                     P32            NaN
2                     T43            NaN
3                     K46  PASES DIARIOS
4                     L31            NaN
5                      B1  PASES DIARIOS
6                      L8  PASES DIARIOS
7                     D30            NaN
8                      T1            NaN
9                     P32            NaN
10                    P42            NaN
11                    T43            NaN
12                     D1            NaN
13                    L27      COMPLETAS
14                    H11            NaN
15                     K9  PASES DIARIOS
16                     D1            NaN
17                    B24            NaN
18                    G29            NaN
19                    S16            NaN
20                    L31            NaN
21                    S19            NaN
22                    K17      COMPLETAS
23                    H11            NaN
24                    T43            NaN
25                    P47  PASES DIARIOS
26                    H11            NaN
27                     D1            NaN
28                    F33  PASES DIARIOS
29                    T43            NaN
30                    B24            NaN
31                    S41            NaN
32                     T4            NaN
33                    J36            NaN
34                    C19  PASES DIARIOS
35                    T16            NaN
36                    J36            NaN
37                     C7            NaN
38                     I6      COMPLETAS
39                     T1            NaN
40                    L44            NaN
41                    J37      COMPLETAS
42                    H11            NaN
43                     B5            NaN
44                     D1            NaN
45                    L31            NaN
46                     G1            NaN
47                    J36            NaN
48                    C34            NaN
49                    B24            NaN
50                    J36            NaN
51                    C38            NaN
52                    J52            NaN
53                    I44            NaN
54                    I44            NaN
55                    F45  PASES DIARIOS
56                    G26            NaN
57                    T15      COMPLETAS
58                    P35  PASES DIARIOS
59                    L12            NaN
60                    E54            NaN
61                    T43            NaN
62                    N33      COMPLETAS
63                    P11      COMPLETAS
64                     T4            NaN
65                    T28            NaN
66                    B24            NaN
67                    H11            NaN
68                    R22            NaN
69                     D1            NaN
70                     D1            NaN
71                    P32            NaN
72                    J36            NaN
73                     D1            NaN
74                     D1            NaN
75                    H11            NaN
76                    E54            NaN
77                    F13            NaN
78                     T1            NaN
79                     T1            NaN
80                    L31            NaN
81                    A51  PASES DIARIOS
82                    S41            NaN
83                    O48  PASES DIARIOS
84                     D1            NaN
85                    F30            NaN
86                    E12      COMPLETAS
87                    H43  PASES DIARIOS
88                     O9            NaN
89                    C12            NaN
90                     O9            NaN
91                     K3      COMPLETAS
92                     D1            NaN
93                     G2            NaN
94                    T43            NaN
95                    B46  PASES DIARIOS
96                    C40  PASES DIARIOS
97                    S41            NaN
98                     F9            NaN
99                    M57            NaN
100                    F6  PASES DIARIOS
101                   A17  PASES DIARIOS
102                   B24            NaN
103                   H51      COMPLETAS
104                   B24            NaN
105                   J18  PASES DIARIOS
106                   P32            NaN
107                    P8            NaN
108                   J30            NaN
109                   L31            NaN
110                   F38      COMPLETAS
111                   J36            NaN
112                   B24            NaN
113                   P32            NaN
114                   E54            NaN
115                    D1            NaN
116                   T43            NaN
117                   D21            NaN
118                   P45  PASES DIARIOS
119                   S41            NaN
120                   S16            NaN
121                    A5  PASES DIARIOS
122                   F25            NaN
123                   S41            NaN
124                   B51  PASES DIARIOS
125                   B24            NaN
126                   P50  PASES DIARIOS
127                   I53            NaN
128                   E54            NaN
129                   F30  PASES DIARIOS
130                   A21      COMPLETAS
131                   P32            NaN
132                   K19      COMPLETAS
133                   J36            NaN
134                   L31            NaN
135                   P32            NaN
136                   H11            NaN
137                   L22            NaN
138                   H11            NaN
139                   G49  PASES DIARIOS
140                   S41            NaN
141                   B40  PASES DIARIOS
142                   G11      COMPLETAS
143                   J36            NaN
144                    T5            NaN
145                   C13            NaN
146                   T43            NaN
147                   L37      COMPLETAS
148                   S16            NaN
149                   S41            NaN
150                   A16      COMPLETAS
151                   E53            NaN
152                   B24            NaN
153                   L31            NaN

In [109]:
# artistas
# eventos
productoras
# recintos
# entradas

,nombre_productora,pais,inicio_actividades,contacto_productora
0,LetsGo Company,ESPAÑA,2006-04-30,34975957941
1,Live Nation,ESTADOS UNIDOS,1998-08-09,154154674
2,Janos Eventos,ARGENTINA,1983-11-12,54950400756
3,fullevent.de,ALEMANIA,2005-08-06,4996934169
4,B+D Events,ALEMANIA,1992-03-06,4980743450
...,...,...,...,...
224,Andeschimp spa,CHILE,1992-12-23,56966594257
225,ESTADIUM LUNA PARK,ARGENTINA,1996-05-09,54935383652
226,Latitud music spa,CHILE,1988-08-07,56985573340
227,Comercial audio tec limitada,CHILE,1985-12-13,56950832829
228,COMPAÑÍA ARGENTINA DE SUEÑOS,ARGENTINA,1994-08-25,54950205631

In [19]:
lugares = recintos[['ciudad', 'pais']]
lugares

                  ciudad            pais
id_recinto
0               AUCKLAND   NUEVA ZELANDA
1                 BILBAO          ESPAÑA
2               SANTIAGO           CHILE
3           BUENOS AIRES       ARGENTINA
4               SANTIAGO           CHILE
...                  ...             ...
141               MADRID          ESPAÑA
142              TORONTO          CANADA
143           NUEVA YORK  ESTADOS UNIDOS
144             MEDELLIN        COLOMBIA
145             BRUSELAS         BELGICA

[146 rows x 2 columns]

In [20]:
lugares.drop_duplicates(inplace=True, ignore_index=True)

C:\Users\beagg\AppData\Local\Temp\ipykernel_1476\2879959439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lugares.drop_duplicates(inplace=True, ignore_index=True)

In [21]:
# recintos = recintos[['nombre_recinto', 'ciudad', 'capacidad']]
# recintos

                              nombre_recinto        ciudad  capacidad
id_recinto
0                            Powerstation 33      AUCKLAND       5773
1                          Euskalduna Bilbao        BILBAO      13422
2           Estadio Bicentario de La Florida      SANTIAGO       8796
3                                Antel Arena  BUENOS AIRES      11726
4               Teatro Municipal de Santiago      SANTIAGO      14137
...                                      ...           ...        ...
141                              Chango Club        MADRID       5661
142                  Phoenix Concert Theatre       TORONTO       9036
143                    Radio City Music Hall    NUEVA YORK       8284
144           Unidad Residencial la Macarena      MEDELLIN      11742
145                                Palais 12      BRUSELAS      13882

[146 rows x 3 columns]

In [48]:
acceder_entrada = entradas[['nombre_evento']]
acceder_entrada

                   nombre_evento
id_entrada
0                      Sub Focus
1                        Bangerz
2                   LOS APARATOS
3                    AgendaMusic
4                      Telepatia
...                          ...
200              The E.N.D World
201                   The Misery
202         Tomorrow Never Knows
203              Me Veras Volver
204                  La Gasolina

[205 rows x 1 columns]

In [51]:
acceder_evento = eventos[['nombre_evento']]
acceder_evento

                     nombre_evento
id_evento
0                      Rio Concert
1                        Mil Rosas
2                  Bachata en vivo
3             Como si no importara
4                        Epic Show
...                            ...
228                       Gowlding
229                    Rio Concert
230        Michael Jackson Tribute
231                     The Misery
232                         El J23

[233 rows x 1 columns]

In [22]:
entradas['precio'] = entradas['precio'].str.strip()

In [20]:
# artistas
# eventos
#productoras
# recintos
# entradas
artistas.to_csv('artistas_procesados.csv',encoding='utf-8')

In [21]:
eventos.to_csv('eventos_procesados.csv',encoding='utf-8')

In [22]:
productoras.to_csv('productoras_procesados.csv',encoding='utf-8')

In [23]:
recintos.to_csv('recintos_procesados.csv',encoding='utf-8')

In [24]:
entradas.to_csv('entradas_procesados.csv',encoding='utf-8')

In [23]:
entradas.to_csv('entradas_procesados.csv',encoding='utf-8')

In [32]:
# lugares.to_csv('lugares_procesados.csv',encoding='utf-8')